/**
 * ----------------------------------------------------------------------------
 * Frontend CSS
 * ----------------------------------------------------------------------------
 */

.wp-block-organic-pricing-table-block {
	position: relative;
	background-color: #f4f4f4;
	width: 100%;
	border: 1px solid rgba(0 ,0, 0, 0.08);
	border-radius: 2px;
	box-sizing: border-box;
	overflow: hidden;
}
.organic-pricing-table-header h2,
.organic-pricing-table-header h4 {
	line-height: 1.2;
	margin: 0px;
	padding: 0px;
}
.organic-pricing-table-header h2 {
	font-size: 2rem;
}
.organic-pricing-table-header h4 {
	font-size: 1.4rem;
	font-weight: 400;
	opacity: 0.8;
}
.organic-pricing-table-price {
	padding: 18px;
	box-sizing: border-box;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.organic-pricing-table-price h6 {
	font-size: 3.2rem;
	margin: 0px;
	padding: 0px;
}
.organic-pricing-table-price p {
	padding: 0px;
	opacity: 0.6;
}
.organic-pricing-table-content ul,
.organic-pricing-table-content li {
	list-style: none;
	margin: 0px;
	box-sizing: border-box;
}
.organic-pricing-table-content ul {
	padding: 0px;
}
.organic-pricing-table-content li {
	line-height: 1.8;
	padding: 6px 24px;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.organic-pricing-table-footer {
	border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.organic-pricing-table-header,
.organic-pricing-table-footer {
	padding: 24px;
	box-sizing: border-box;
}
a.organic-pricing-button {
	position: relative;
	display: block;
	background-color: #99cc33;
	color: #ffffff !important;
	text-decoration: none !important;
	padding: 12px 24px;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
}
a.organic-pricing-button::before {
	position: absolute;
	top: 0; left: 0;
	content: '';
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
	height: 100%;
	border-radius: 3px;
	transition: all .25s ease-in-out;
}
a.organic-pricing-button:hover::before {
	background-color: rgba(0, 0, 0, 0.2);
}
a.organic-pricing-button span {
	position: relative;
	z-index: 8;
}

.organic-pricing-table-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px auto;
}
.organic-pricing-table-wrapper .wp-block-organic-pricing-table-block:first-child:nth-last-child(2),
.organic-pricing-table-wrapper .wp-block-organic-pricing-table-block:first-child:nth-last-child(2) ~ .wp-block-organic-pricing-table-block {
	width: 50%;
}
.organic-pricing-table-wrapper .wp-block-organic-pricing-table-block:first-child:nth-last-child(3),
.organic-pricing-table-wrapper .wp-block-organic-pricing-table-block:first-child:nth-last-child(3) ~ .wp-block-organic-pricing-table-block {
	width: 33.33%;
}
.organic-pricing-table-wrapper .wp-block-organic-pricing-table-block:first-child:nth-last-child(4),
.organic-pricing-table-wrapper .wp-block-organic-pricing-table-block:first-child:nth-last-child(4) ~ .wp-block-organic-pricing-table-block {
	width: 25%;
}
