/**
 * ----------------------------------------------------------------------------
 * Editor CSS
 * ----------------------------------------------------------------------------
 */

.wp-block-organic-split-block .organic-split-image {
	display: flex;
	align-items: center;
}
.wp-block-organic-split-block .organic-split-image.image-inactive {
	background: #f4f4f4;
	min-height: 260px;
	border: 1px solid #dddddd;
}
.wp-block-organic-split-block .organic-split-image.image-active {
	background-size: cover;
	background-position: center;
}
.wp-block-organic-split-block .organic-split-image button {
	margin: 0 auto;
}
.wp-block-organic-split-block .organic-split-image button.image-button {
	line-height: 0;
	padding: 0px;
}
.wp-block-organic-split-block .organic-split-image button.image-button img {
	opacity: 0;
	margin: 0;
}
span.organic-split-button {
	display: inline-block;
	background-color: #99cc33;
	color: #ffffff;
	margin-top: 18px;
	padding: 12px 24px;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
}
.organic-split-button-link.blocks-rich-text__tinymce.mce-content-body {
	left: 0;
}
